.ui.tabular.menu .item.backgroundNotif {
    animation: blinking 2s infinite;
    -moz-animation: blinking 2s infinite; 
    -webkit-animation: blinking 2s infinite; 
}

.ui.tabular.menu .active.item.background {
    background-color: #34495e;
}

@-moz-keyframes blinking {
    0% {
        background-color: #34495e;
        border-radius: .28571429rem .28571429rem 0 0;
    }
    50% {
        background-color: #F08F21;
        border-radius: .28571429rem .28571429rem 0 0;
    }
    100% {
        background-color: #34495e;
        border-radius: .28571429rem .28571429rem 0 0;
    }
}

@-webkit-keyframes blinking {
    0% {
        background-color: #34495e;
        border-radius: .28571429rem .28571429rem 0 0;
    }
    50% {
        background-color: #F08F21;
        border-radius: .28571429rem .28571429rem 0 0;
    }
    100% {
        background-color: #34495e;
        border-radius: .28571429rem .28571429rem 0 0;
    }
}

@keyframes blinking {
    0% {
        background-color: #34495e;
        border-radius: .28571429rem .28571429rem 0 0;
    }
    50% {
        background-color: #F08F21;
        border-radius: .28571429rem .28571429rem 0 0;
    }
    100% {
        background-color: #34495e;
        border-radius: .28571429rem .28571429rem 0 0;
    }
}

.menuTabChatScrollbar::-webkit-scrollbar {
    height: 5px;
}