.ui.tabular.menu .item.backgroundNotif {
    animation: blinking 2s infinite;
    -moz-animation: blinking 2s infinite; 
    -webkit-animation: blinking 2s infinite; 
}

.ui.tabular.menu .active.item.background {
    background-image: url("/backgrounds/ChatTab_BG.jpg");
}

@-moz-keyframes blinking {
    0% {
        background-image: url("/backgrounds/ChatTab_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
    50% {
        background-image: url("/backgrounds/ChatWhisp_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
    100% {
        background-image: url("/backgrounds/ChatTab_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
}

@-webkit-keyframes blinking {
    0% {
        background-image: url("/backgrounds/ChatTab_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
    50% {
        background-image: url("/backgrounds/ChatWhisp_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
    100% {
        background-image: url("/backgrounds/ChatTab_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
}

@keyframes blinking {
    0% {
        background-image: url("/backgrounds/ChatTab_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
    50% {
        background-image: url("/backgrounds/ChatWhisp_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
    100% {
        background-image: url("/backgrounds/ChatTab_BG.jpg");
        border-radius: .28571429rem .28571429rem 0 0;
    }
}

.menuTabChatScrollbar::-webkit-scrollbar {
    height: 5px;
}

.ui.tabular.menu .active.item {
    border-width: 3px;
}