.map {
    border: 1px solid grey;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}

.map-mover {
    display: inline-block;
    float: left;
    position:absolute;
    z-index: 0;
}

.map-zoom {
    position:absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
    cursor: url('/common/cursor_pointer.png'), pointer;
}

.map-move {
    position:absolute;
    width:30px;
    height:30px;
    z-index: 5;
    cursor: url('/common/cursor_pointer.png'), pointer;
}

.map-move:hover {
    opacity: 0.5;
}

.map-arrow {
    width:30px;
    height:30px;
}

.map-move-center {
    right: 120px;
}

.map-move-left {
    right: 90px;
}

.map-move-right {
    right: 60px;
}

.map-move-up {
    right: 30px;
}

.map-move-down {
    right: 0px;
}

.row {
    display: inline-block;
    float: left;
}

.grid {
    display: inline-block;
    float: left;
    position: relative;
}

.grid:hover {
    opacity:0.5;
    background-color: #039be5;
    cursor: url('/common/cursor_pointer.png'), pointer;
}

.fog-gm {
    background-color: black;
    opacity:0.6;
    position: absolute;
    z-index: 1;
    top:0px;
    left:0px;
}

.is-current {
    border: 2px solid #991510;
}

.fog-gm:hover {
    opacity:0;
    background-color: transparent;
}

.fog {
    background-color: black;
    position: absolute;
    z-index: 1;
}
