.item-description{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 82%;
    top: 20px;
    left: 20px;
    color: white;
}

.item-description-header{
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.item-description-icon{
    width: 60px;
    height: 60px;
    float: left;
    display: inline-block;
}

.item-description-text{
    width: 70%;
    height: 25px;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    float: left;
    display: inline-block;
}

.item-description-description{
    text-align: left;
    padding: 10px;
    float: left;
    display: inline-block;
}

.item-description-effect{
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    float: left;
    display: inline-block;
}

.item-description-quantity{
    position: absolute;
    bottom: 30px;
    right: 0px;
    cursor: url('/common/cursor_pointer.png'), pointer;
    margin-right: 25px;
    float: right;
}

.item-description-price{
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: url('/common/cursor_pointer.png'), pointer;
    margin-right: 25px;
    float: right;
}

.item-description-cant-buy{
    color:red;
}