.styledButtonLarge {
    background: url('/common/button1.png') no-repeat;
    background-size: cover;
    color: white;
    border: none;
}

.buttonLargeActive, .styledButtonLarge:hover {
    background: url('/common/button2.png') no-repeat;
    background-size: cover;
    color: white;
    border: none;
}

.noGold {
    color: red;
    cursor:url('/common/cursor.png'), auto;
}
