.merchant{
    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
    cursor: url('/common/cursor_pointer.png'), pointer;
    height: 30px;
    text-align: center;
    color: white;
}

.merchant:hover{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}

.merchant-is-selected{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}

.merchant-icon{
    width: 30px;
    height: 30px;
    float: left;
    display: inline-block;
}

.merchant-text{
    width: 70%;
    height: 25px;
    display: inline-block;
    color: white;
}