.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: #34495e;
  color: white;
}

button, input, select {
  cursor: url('/common/cursor_pointer.png'), pointer;
}

.commit {
  width: 100%;
  height: 45px;
  text-align: left;
  float:left;
  display: block;
}

.selected {
  border: 1px solid red;
}


/*
 *  SCROLLBAR
 */

.scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

.centeredVertically
{
  margin: 0px;
  position:absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.borderOnHover:hover
{
  border: 2px solid white;
}

.dice-result-success
{
  color: #38A169;
}

.dice-result-fail
{
  color: #C53030
}

.dice-status-success
{
  text-decoration: underline;
  color: #38A169;
}

.dice-status-fail
{
  text-decoration: underline;
  color: #C53030;
}
