.map {
    border: 1px solid grey;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}

.map-mover {
    display: inline-block;
    float: left;
    position:absolute;
    z-index: 0;
}

.map-zoom {
    position:absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
}

.map-move {
    position:absolute;
    width:30px;
    height:30px;
    top: 15px;
    z-index: 5;
}

.map-arrow {
    width:30px;
    height:30px;
}

.map-move-left {
    right: 100px;
}

.map-move-right {
    right: 70px;
}

.map-move-up {
    right: 40px;
}

.map-move-down {
    right: 10px;
}

.row {
    display: inline-block;
    float: left;
}

.grid {
    display: inline-block;
    float: left;
    position: relative;
}

.grid:hover {
    opacity:0.5;
    background-color: #039be5;
    cursor: pointer;
}

.fog-gm {
    background-color: black;
    opacity:0.6;
    position: absolute;
}

.fog-gm:hover {
    opacity:0;
}

.fog {
    background-color: black;
    position: absolute;
}
