.quest{
    position: absolute;
    cursor: pointer;
    height: 50%;
    width: 25%;
    text-align: center;
    border-bottom: 1px solid black;
}

.quest-icon{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 25%;
    float: left;
    display: inline-block;
}

.quest-icon:hover{
    width: 75%;
    height: 75%;
    margin-left: 12.5%;
    margin-top: 12.5%;
}