.animatedPreview {
    -webkit-animation:spin 4s ease-in;
    -moz-animation:spin 4s ease-in;
    animation:spin 4s ease-in;
    max-height: 100px;
 }

 @font-face {
  font-family: 'BeyondWonderland';
  src: local('BeyondWonderland'), url(/fonts/BeyondWonderland.ttf) format('truetype');
}

@-moz-keyframes spin { 
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.medievalFont {
  font-family: 'BeyondWonderland';
}

.animatedPreviewStarted {
    /* transform:scaleY(0);
    transform-origin:top;
    -moz-transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out; */
    transition:flex 0.3s ease-out; 
    flex: 0 0 0;
 }

 

 .animatedPreviewStarted.animatedPreviewFinished {
    /* transform:scaleY(1); */

    flex:1;
 }